@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}
h1 {
    color:yellow;
}
body {
    background-color:black;
}
div#checkboxes {
   width:25%;
   margin: 0 auto;
   display:flex;
   flex-direction:row;
   position:relative;
   
    
}
form {
    width:100%;
    height:100%;
}
div#quantidades {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
div.quantidade {
    width:5%;
    background-color:rgba(255, 244, 244, 0.528);
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:5px;
    border-radius:10px;
}
input#nome {
    width:100%;
    height:50px;
    background-color:rgba(255, 244, 244, 0.528);
    border:none;
    padding-left:25px;
    border-radius:10px;
    font-size:15px;
}

div#tarefas {
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:20px;
    height:100%;
    flex-direction:column;
    
}
div.minhas-tarefas {
    background-color: rgba(255, 244, 244, 0.528);
    width:25%;
    height:52px;
    display:flex;
    justify-content:left;
    align-items:center;
    border-radius:10px;
    margin:5px;
    position:relative;

}
span {
    margin-left:20px;
    width:100%;
}
input.checkbox {
    position:absolute;
    top:19px;
    left:0px;
}
div#botao {
    margin: auto;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:10px;
}
button {
    height:40px;
    width:5%;
    background-color:brown;
    border:none;
    border-radius:10px;
    margin:5px;
}
div.cor {
    background-color: green;
}
#form #adicionar {
    width:25%;
}
/*
prioridade: tag > id > class
*/